// Create rectangles
@mixin rectangle($width, $height, $color: '', $radius: '') {
    @if ($color != '') {
        background-color: $color;
    }
    height: $height;
    width: $width;

    @if ($radius != '') {
        @include border-radius($radius);
    }
}

// Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// Responsive design
@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 767px) { @content; }
    }

    @else if $class == sm {
        @media (min-width: 768px) { @content; }
    }

    @else if $class == md {
        @media (min-width: 992px) { @content; }
    }

    @else if $class == lg {
        @media (min-width: 1200px) { @content; }
    }
}
