@import '_partials';
@import 'variables';

.rect-dark-bamboo {
    @include rectangle(50px, 200px, $dark-green, 0);
}

.rect-lt-bamboo {
    @include rectangle(50px, 200px, $light-green, 0);
}

.leaf-left {
    background-color: $dark-green;
    height: 100px;
    left: -2rem;
    position: relative;
    top: 17rem;
    width: 100px;
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;
}

.leaf-right {
    background-color: $dark-green;
    height: 100px;
    left: -1.25rem;
    position: relative;
    top: 5rem;
    width: 100px;
    -moz-border-radius: 0px 100px;
    -webkit-border-radius: 0px 100px;
    border-radius: 0px 100px;
}